#bus-seat-data {
  float: left;
  width: 100%;
}
#seats .tab-content {
    padding: 0;
}
._NO_SEAT_{
	 visibility: hidden;
	 margin-bottom: 0;
     float: left;
	/*pointer-events: none;*/
}
._no_hd_{
	display: none;
	pointer-events: none;
}
._3AF7  {
    margin-bottom: 0;
     float: left;
  }
._HSH_ {
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid #979797;
    display: inline-block;
    /*border-top-left-radius: 2px;*/
    /*border-top-right-radius: 2px;*/
    border-radius: 4px;
    /*margin-right: 10px;*/
    /*margin-left: 10px;*/
    cursor: pointer;
    background: #fff;
}
._HSH_2_ {
    position: relative;
    width: 60px;
    height: 25px;
    border: 1px solid #979797;
    display: inline-block;
    /* border-top-left-radius: 2px; */
    /* border-top-right-radius: 2px; */
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    border-radius: 4px;
    cursor: pointer;
    background: #fff;
}
._HSH_2_ ._19QY {
    position: absolute;
    width: 5px;
    height: 21px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #979797 !important;
    border-radius: 2px;
    display: none;
}
._HSH_sl ._19QY {
    position: absolute;
    width: 21px;
    height: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #979797 !important;
    border-radius: 2px;
    display: none;
    /* border-left: none!important; */
}

._HSH_ ._2CpW {
    height: 21px;
    width: 5px;
    top: 13px;
    right: 29px;
    border-right: none!important;
}
._HSH_ ._1Zjt {
    position: absolute;
    border: 1px solid #979797;
    display: none;
}
._HSH_ .U6x5 {
    height: 21px;
    width: 5px;
    bottom: -1px;
    right: -6px;
    border-left: none!important;
}
._HSH_ ._1Zjt {
    position: absolute;
    border: 1px solid #979797;
    display: none;
}


._HSH_ ._19QY {
    width: 17px;
    height: 4px;
    right: 5px;
    top: 34px;
    border-top: none!important;
}

._HSH_ ._1Zjt {
    position: absolute;
    border: 1px solid #979797;
    display: none;
}

._HSH_._1LG_ {
    background: #20bf7a;
    border: 1px solid #20bf7a;
}
._HSH_2_._1LG_ {
    background: #20bf7a;
    border: 1px solid #20bf7a;
}
.htMY._1Zjt span {
    background: #fff;
    border: 1px solid #20bf7a;
}
.htMY._1Zjt span {
    background: #fff;
    border: 1px solid #20bf7a;
}
.htMY .U6x5 span {
    background: #fff;
    border: 1px solid #20bf7a;
}
._HSH_sl {
       width: 25px;
    height: 55px;
    border: 1px solid #979797;
    display: inline-block;
    position: relative;
    /* border-bottom-left-radius: 2px; */
    /* border-bottom-right-radius: 2px; */
    border-radius: 4px;
    /* margin: 0.7px 19px; */
    cursor: pointer;
    background: #fff;
}
._HSH_sl._1LG_ {
    background: #20bf7a;
    border: 1px solid #20bf7a;
}
._HSH_sl._39aI._1LG_{
  background: #ff8eb5;
  border: 1px solid #ff8eb5;

}
.fare-filter-blk {
    padding-top: 5px;
    border-bottom: 1px solid #d5d6d9;
    min-height: 54px;
}
.fare-filter{
    float: left;
    list-style: none;
    padding: 10px 1px 7px 0;
    margin: auto 0;
}
.fare-filter li{
    border-radius: 5px;
    border: 1px solid #979797;
    padding: 2px 7px 2px 7px;
    /* padding-top: 11px; */
    float: left;
    /* height: 45px; */
    width: auto;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

div#lower, div#upper {
    position: relative;
    float: left;
    /*margin-top: 16px;*/
    padding: 0 0 15px 0;
    /*border-left: 1px solid #d5d6d7;
    border-right: 1px solid #d5d6d7;*/
    /*border-bottom: 1px solid #d5d6d7;*/
    border-top: 0;
    /*border-top: 1px solid #b8b9ba;*/
}
.seats_row{
    /*margin-top: 3em;*/
    float: left;
    /*border-top: 1px solid #d5d6d7;*/
    padding-bottom: 1em;
}
.seats_row_spc {
    /*margin-right: 15px;*/
    padding-top: 20px;
}

.activeli{
    background-color: #333;
    color: #fff;
}
._HSH_.IlqM {
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}
._HSH_2_.IlqM {
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}
._HSH_2_ span {
    text-align: center;
    margin-top: 2px;
    display: block;
}
._HSH_sl.IlqM
{
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}

._HSH_.IlqMQ {
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}

._HSH_sl.IlqMQ
{
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}
._HSH_2_.IlqMQ
{
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}
._21yR {
    position: absolute;
    /* top: 3.5em; */
    right: 5%;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background-color: #9b9b9b;
    border: 2px solid #686868;
}
.ZUCx {
    width: 50px;
    height: 40px;
    position: absolute;
    /* bottom: 30px; */
    left: 25px;
    font-size: 17px;
    color: #9b9b9b;
    font-weight: 600;
    text-transform: uppercase;
}
._HSH_._1LG_ span, ._HSH_sl._1LG_ span {
    background: #fff;
    border: 1px solid #20bf7a;
}

._HSH_.pXg8, ._HSH_sl.pXg8{
    background: #ff8eb5;
    pointer-events: none;
}
._HSH_._39aI, ._HSH_._39aI span, ._HSH_.pXg8, ._HSH_sl._39aI{
    border: 1px solid #ff8eb5;
}
._HSH_.pXg8 span {
    background: #fff;
    border: 1px solid #ff8eb5;
 }

 /* legend seats */
 .legand-block {
    position: relative;
 }
 .legang-i {
    width: 16.66666667%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
 }
 .legand-seats {
  margin-top: 1.1em;
  padding: 2em 0 1em 0;
  float: left;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 20px rgba(0,0,0,0.10), 0 3px 16px rgba(0,0,0,0.10);
  -moz-box-shadow: 0 0px 20px rgba(0,0,0,0.10), 0 3px 16px rgba(0,0,0,0.10);
  box-shadow: 0 0px 20px rgba(0,0,0,0.10), 0 3px 16px rgba(0,0,0,0.10);
  border: 1px solid #d5d6d9;

}
.legand-seats .l_3AF7 {  /*seat centering*/
  position: absolute;
  left: 50%;
  margin-left: -9px;
}
.legand-seats ._HSH_ {
  width: 20px;
  height: 20px;
}
.legand-seats ._HSH_ ._2CpW {
  height: 13px;
  width: 5px;
  top: 11px;
  right: 19px;
}
.legand-seats ._HSH_ .U6x5 {
  height: 13px;
  width: 4px;
  bottom: -1px;
  right: -5px;
}
.legand-seats ._HSH_ ._19QY {
  width: 11px;
  height: 4px;
  right: 3px;
  top: 24px;
}
.legand-seats .legend-text {
  color: #000;
  font-size: 0.8em;
  margin-top: 25px;
  line-height: 1.2;
}
.l_3AF7  {
  margin-bottom: 15px;
  float: left;
}
._HSH_.l_1LG_ {
  background: #20bf7a;
  border: 1px solid #20bf7a;
}
._HSH_.lIlqM {
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}
._HSH_.lpXg8 span {
    background: #fff;
    border: 1px solid #ff8eb5;
 }
 ._HSH_.lpXg8 {
    border: 1px solid #ff8eb5;
}
._HSH_.lpXg8 span {
    background: #fff;
    border: 1px solid #ff8eb5;
}
._HSH_.lpXg8 {
    background: #ff8eb5;
    pointer-events: none;
}
._HSH_.l_39aI, ._HSH_.l_39aI span, ._HSH_.lpXg8 {
    border: 1px solid #ff8eb5;
}
._HSH_ span.seat-name {
    position: absolute;
    /* left: 6px; */
    top: 5px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #363636;
    font-size: 10px;
}
._HSH_sl span.seat-name {
    position: absolute;
    top: 2em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #363636;
    font-size: 10px;
}
._HSH_.pXg8 span.seat-name {
    background: #ff8eb5;
    color: #fff;
}
._HSH_.pXg8 span.seat-name {
    background: #ff8eb5;
    color: #fff;
}
._HSH_sl._1LG_ span.seat-name, ._HSH_._1LG_ span.seat-name, ._HSH_2_._1LG_ span.seat-name{
    background: #20bf7a;
    color: #fff;
}

._HSH_sl._1LG_._39aI span.seat-name, ._HSH_._1LG_._39aI span.seat-name, ._HSH_2_._1LG_._39aI span.seat-name{
  background: #ff8eb5;
  color: #fff;
}

._HSH_._1LG_._39aI{

  background: #ff8eb5;
  color: #fff;
}



._HSH_sl.IlqMQ span.seat-name, ._HSH_.IlqMQ span.seat-name{
   background: #c1c1c1;
   color:  #363636;
   border: 1px solid #c1c1c1;
 }
 /*.legand-seats ._HSH_{
    width: 20px;
    height: 25px;
 }*/
 ._HSH_._39aI span.seat-name,._HSH_sl._39aI span.seat-name{
    border: 0;
}
.seat-wrap {
  position: relative;
  float: left;
  width: 100%;
}
.seat-wrap span.seat-cmt {
  /*background: url(/assets/bus_web/seat-bubble.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  height: 25px;
  width: 35px;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: -35px;*/

  background:url(<%=asset_path('bus_web/seat-bubble.png')%>);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -12px;
  margin-top: -15px;
  text-align: center;
}
.seat-wrap span.seat-cmt p {
  display: inline;
  font-size: 9px;
  color: #fff;
  width: 25px;
}

/******************* Seat Review Css ******************/

          /****** Typography css *****/
.font-xl {
  font-size: 22px;
}
.font-lg {
  font-size: 20px;
}
.font-md {
  font-size: 18px;
}
.font-sm {
  font-size: 16px;
}
.font-xs {
  font-size: 14px;
}
.font-xxs {
  font-size: 12px;
}
.l-grey {
  color: #757575;
}
.d-grey {
  color: #363636;
}

.no-pad {
  padding: 0;
}
.no-padlt {
  padding-left: 0;
}
.no-padrt {
  padding-right: 0;
}
          /****** Typography css /*****/

#seat-review .seat-review_cxl {
  padding: 15px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.26);
  margin-bottom: 5px;
}
#seat-review .seat-review_cxl img {
  opacity: .3;
}
#seat-review .seat-review_rspns {
  padding: 0 15px 15px;
  background: #fff;
  min-height: 660px;
}
#seat-review .seat-review_rspns h4 {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}
#seat-review .progress {
  border-radius: 4px;
  height: 30px;
  margin-top: 3px;
  margin-bottom: 5px;
  color: #fff;
  box-shadow: none;
  background-color: rgba(245, 245, 245, 0.5);
}
#seat-review .progress .progress-bar {
  box-shadow: none;
}
#seat-review .progress .progress-bar.ys-bg {
  background-color: #56adfb;
  background-image: none;
}
#seat-review .seat-review_cmts {
  padding: 15px 0;
  padding-top: 0;
  margin-bottom: 15px;
}
#seat-review .seat-review_bar span.ys-txt {
  position: absolute;
  top: 8px;
  left: 5px;
  color: #fff;
  font-weight: 600;
}
#seat-review .seat-review_bar span.ys-usr {
  position: absolute;
  top: 8px;
  right: 5px;
  color: #ccc;
  font-weight: 600;
}
#seat-review .seat-fd-data{
    max-height: 600px;
    overflow-y: scroll;
    float: left;
}

._HSH_sl .ry_excl,._HSH_ .ry_excl,.ry_excl {
    border: 1px solid #ef4530 !important;
  }

  .ry_excl span.seat-name{
     /*color: #ef4530 ;*/
   }
  .fare-filter-blk .fare-filter li.ry_excl {
    position: relative;
  }
  .fare-filter-blk .fare-filter li.ry_excl span {
    display: block;
    padding: 1px 4px;
    position: absolute;
    top: 0px;
    left: -10px;
    margin-top: -12px;
    /*background: #3F51B5;*/
    color: #fff;
    border-radius: 2px;
    font-size: 10px;
  }
  .bus-test {
    padding: 0 15px;
    float: left;
    width: 100%;
    position: absolute;
    /*bottom: 40px;*/
    bottom: 5px;
  }
  .bus-test hr {
    border-top: 2px solid #d4cdcd;
    margin: 5px 0;
  }
  .bus-test p {
    color: #ef4530;
  }
  ._HSH_._1LG_ span.ry_exc, ._HSH_sl._1LG_ span.ry_exc,._1LG_ .ry_excl {
    background: #fff;
    border: 1px solid #20bf7a;
  }
  .ry-img-cls{
    padding-top: 5px;
  }
  span.line-1{
    color: #ef4530;
    display: block;
    /*font-weight: 600;*/
    font-size: 14px;
  }
  span.line-2{
    font-size: 10px;
    display: block;
    color: #5d5858;
  }
  .seats_row .col-xs-2{
    width: 15%;
    padding: 5px 10px 5px 10px;
  }
  .hide-fad-seat-layout{
    opacity: .8;
    pointer-events: none;
  }
  .visibility-hide{
    visibility: hidden;
  }
  .visibility-show{
    visibility: visible;
  }
  .shine {
  background: #ebedf3;
    background-image: linear-gradient(to right, #dde4ea 0%, #edeef1 20%, #dde0e2 40%, #e2eaf3 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
  }


box {
  height: 24px;
  width: 44px;
  border-radius: 5px;
}
div.box {
  height: 24px;
  width: 44px;
  border-radius: 5px;
}
.box-fare-filter li{
    border-radius: 5px;
    border: 1px solid #979797;
    /*padding: 2px 7px 2px 7px;*/
    /* padding-top: 11px; */
    float: left;
    height: 26px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    list-style: none;
}
.box-fare-filter {
    float: left;
    list-style: none;
    padding: 10px 1px 7px 0;
    margin: auto 0;
}
div#shine-line {
  display: inline-flex;
  flex-direction: column;
  margin-left: 75px;
  margin-top: 15px;
  vertical-align: top;
  margin-bottom: 35px;
}

lines {
  height: 10px;
  margin-top: 15px;
  width: 200px;
}
div.lines {
  height: 10px;
  margin-top: 15px;
  width: 200px;
}
.visiblity-hidden{
  visibility: hidden;
}
.visiblity-show{
  visibility: visible;
}
.seat-wrap {
  margin-bottom: 5px;
}
@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
